{% extends "base.html" %}

{% set imgCodeUrlMap = {
	'55P1B': 'https://vibe.us/img/tracking/product/vibe_board_55.png',
	'55V1B': 'https://vibe.us/img/tracking/product/vibe_board_55.png',
	'55V1UBSH': 'https://vibe.us/img/tracking/product/vibe_board_55.png',
	'55V1UB': 'https://vibe.us/img/tracking/product/vibe_board_55.png',
	'55V1WS': 'https://vibe.us/img/tracking/product/vibe_stand_55w.png',
	'55V1RS': 'https://vibe.us/img/tracking/product/vibe_stand_55r.png',
	'55V1ESt': 'https://vibe.us/img/tracking/product/vibe_active_stylus_ir.png',
	'55V1ASt': 'https://vibe.us/img/tracking/product/vibe_active_stylus_ir.png',
	'55S1AS': 'https://vibe.us/img/tracking/product/vibe_active_stylus_ir.png',
	'TA01A': 'https://vibe.us/img/tracking/product/vibe_tap.png',
	'S1BStylus': 'https://vibe.us/img/tracking/product/vibe_active_stylus_ir.png',
	'75S1BB': 'https://vibe.us/img/tracking/product/vibe_board_s1_75.png',
	'75S1S': 'https://vibe.us/img/tracking/product/vibe_stand_75_s1.png',
	'75ProB': 'https://vibe.us/img/tracking/product/vibe_board_75.png',
	'75ProUB': 'https://vibe.us/img/tracking/product/vibe_board_75.png',
	'75ProUBSH': 'https://vibe.us/img/tracking/product/vibe_board_75.png',
	'75ProUBSB': 'https://vibe.us/img/tracking/product/vibe_board_75.png',
	'75ProS': 'https://vibe.us/img/tracking/product/vibe_stand_75_s1.png',
	'75ProESt': 'https://vibe.us/img/tracking/product/vibe_active_stylus_ir.png',
	'75ProASt': 'https://vibe.us/img/tracking/product/vibe_active_stylus_ir.png',
	'75ProUS': 'https://vibe.us/img/tracking/product/vibe_stand_75_s1.png',
	'75ProSHB': 'https://vibe.us/img/tracking/product/vibe_stand_75_s1.png',
	'55S1RS': 'https://vibe.us/img/tracking/product/vibe_stand_55r.png',
	'55S1GS': 'https://vibe.us/img/tracking/product/vibe_stand_55g.png',
	'55S1WS': 'https://vibe.us/img/tracking/product/vibe_stand_55w.png',
	'55S1BS': 'https://vibe.us/img/tracking/product/vibe_stand_55b.png',
	'CAM01A': 'https://vibe.us/img/tracking/product/vibe_camera_c1.png',
	'CA02A': 'https://vibe.us/img/tracking/product/vibe_camera_c1.png',
	'55S1B': 'https://vibe.us/img/tracking/product/vibe_board_S1_55.png',
	'55S1BB': 'https://vibe.us/img/tracking/product/vibe_board_S1_55.png',
	'55S1UB': 'https://vibe.us/img/tracking/product/vibe_board_S1_55.png',
	'55S1UBSH': 'https://vibe.us/img/tracking/product/vibe_board_S1_55.png',
	'55S1UBSB': 'https://vibe.us/img/tracking/product/vibe_board_S1_55.png',
	'EPP1_249': 'https://vibe.us/img/tracking/product/extend.png',
	'EPP1_350': 'https://vibe.us/img/tracking/product/extend.png',
	'EPP2_499': 'https://vibe.us/img/tracking/product/extend.png',
	'EPP2_625': 'https://vibe.us/img/tracking/product/extend.png',
	'EPP3_699': 'https://vibe.us/img/tracking/product/extend.png',
	'EPP3_850': 'https://vibe.us/img/tracking/product/extend.png'
} %}

{% block content %}
<center>
  <div class="shipping-email-body float-center" align="center" style="background-color:#fff;width:700px">
    <div style="display:table;width:100%;height:67px;background-color:#000">
      <div style="display:table-cell;vertical-align:middle" align="center">
        <div style="display:inline-block;vertical-align:middle">
          <div style="vertical-align:middle"><img src="https://dl.vibe.us/assets/image/logo.png" style="width:69px;height:19px"></div>
        </div>
      </div>
    </div>
    <div class="order" style="background-color:#f7f7f7;padding:32px 48px">
      <div class="order-wrapper" style="background-color:#fff;padding:32px 36px 40px">
        <h1 class="order-subject" style="font:700 32px/37px Helvetica;margin:0;margin-bottom:46px">{{ subject }}</h1>
        <div><img width="387" height="75" src="https://vibe.us/img/tracking/shipped-step.png"></div>
        <p class="order-thank-text" style="font:700 16px/20px Helvetica;margin:0;padding-bottom:66px;padding-top:32px">Thank you for choosing Vibe! 🎉</p>
        <div>
          <p class="order-detail-text" style="color:#000;font:700 16px/18px Helvetica;margin:0;text-align:left">Order Details</p>
          <div class="order-line" style="background-color:#bfbfbf;height:.5px;margin-bottom:12px;margin-top:12px;width:100%"></div>
          <div style="margin-bottom:12px;">
            {% for item in products %}
            <div class="order-item-row" style="text-align:left;height: 74px;">
              <div class="table-cell width-unset" style="display:inline-block;vertical-align:middle;width:unset"><img class="order-item-image" width="76" height="68" src="{{imgCodeUrlMap[item.code]|default("https://vibe.us/img/tracking/product/product_placeholder.png")}}" style="background-color:#f8f8f8;margin-right:20px"></div>
              <div class="table-cell width-unset" style="display:inline-block;vertical-align:middle;width:unset">
                <p class="order-item-title lh-20" style="color:#4f4f4f;font:700 16px/18px Helvetica;line-height:20px;margin:0;margin-bottom:11px;text-align:left">{{ item.name }}</p>
                <p class="order-item-text lh-20" style="color:#4f4f4f;font:400 16px/18px Helvetica;line-height:20px;margin:0;text-align:left">Qty: {{ item.quantity }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="order-line" style="background-color:#bfbfbf;height:.5px;margin-bottom:12px;margin-top:12px;width:100%"></div>
          <div class="order-item-row" style="text-align:left; margin-bottom: 14px;">
            <div class="table-cell" style="display:inline-block;vertical-align:top;width:49%">
              <p class="order-item-title" style="color:#4f4f4f;font:700 16px/18px Helvetica;margin:0;margin-bottom:11px;text-align:left">Order number:</p>
              <a style="text-decoration: none;" href="https://vibe.us/order/status-search/?email={{email}}&order_id={{order_id}}&zip_code={{shipping_zip}}" target="_blank" rel="noreferrer">
                <p class="order-item-text link" style="color: #463FF4;font:400 16px/18px Helvetica;margin:0;text-align:left">#{{ order_id }}</p>
              </a>
            </div>
            <div class="table-cell" style="display:inline-block;vertical-align:top;width:49%">
              <p class="order-item-title" style="color:#4f4f4f;font:700 16px/18px Helvetica;margin:0;margin-bottom:11px;text-align:left">Order date:</p>
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/18px Helvetica;margin:0;text-align:left">{{ created_at.date() }}</p>
            </div>
          </div>
          <div class="order-line" style="background-color:#bfbfbf;height:.5px;margin-bottom:12px;margin-top:12px;width:100%"></div>
          <div class="order-item-row" style="text-align:left; margin-bottom: 14px;">
            <div class="table-cell" style="display:inline-block;vertical-align:top;width:49%">
              <p class="order-item-title" style="color:#4f4f4f;font:700 16px/18px Helvetica;margin:0;margin-bottom:11px;text-align:left">Carrier:</p>
              {% if task.carrier == "ROSENAU" %} <a class="order-item-text link" href="https://www.rosenau.ca/track-shipment/" style="color:#463ff4;font:400 16px/18px Helvetica;text-align:left">{{ fulfillment.tracking_company }}</a><br>{% else %} <p class="order-item-text" href style="color:#4f4f4f;font:400 16px/18px Helvetica;text-align:left">{{ task.carrier }}</p> {% endif %}
            </div>
            <div class="table-cell" style="display:inline-block;vertical-align:top;width:49%">
              <p class="order-item-title" style="color:#4f4f4f;font:700 16px/18px Helvetica;margin:0;margin-bottom:11px;text-align:left">Ship date:</p>
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/18px Helvetica;margin:0;text-align:left">{{ task.created_at.date() }}</p>
            </div>
          </div>
          <div class="order-line" style="background-color:#bfbfbf;height:.5px;margin-bottom:12px;margin-top:12px;width:100%"></div>
          <div class="order-item-row" style="text-align:left; margin-bottom: 14px;">
            <div class="table-cell" style="display:inline-block;vertical-align:top;width:49%">
              <p class="order-item-title" style="color:#4f4f4f;font:700 16px/18px Helvetica;margin:0;margin-bottom:11px;text-align:left">Tracking number:</p>
              {% for item in tracking_items %} {% if item.url %} 
              <a style="text-decoration: none;" href="{{ item.url }}">
                <p class="order-item-text link" style="color: #463FF4;font:400 16px/18px Helvetica;margin:0;text-align:left">{{ item.number }}</p>
              </a>
              {% else %} 
              <a style="text-decoration: none;" href="https://www.ups.com/track?TypeOfInquiryNumber=T&InquiryNumber1={{ item.number }}&requester=ST&loc=en_US/trackdetails">
                <p class="order-item-text link" style="color: #463FF4;font:400 16px/18px Helvetica;margin:0;text-align:left">{{ item.number }}</p>
              </a>
              {% endif %} {% endfor %}
            </div>
            <div class="table-cell" style="display:inline-block;vertical-align:top;width:49%">
              <p class="order-item-title" style="color:#4f4f4f;font:700 16px/18px Helvetica;margin:0;margin-bottom:11px;text-align:left">Shipping to:</p>
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/20px Helvetica;margin:0;text-align:left"></p>
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/20px Helvetica;margin:0;text-align:left">{{ shipping_name }}</p>
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/20px Helvetica;margin:0;text-align:left">{{ email }}</p>
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/20px Helvetica;margin:0;text-align:left">{{ shipping_company }}</p>
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/20px Helvetica;margin:0;text-align:left">{{ shipping_address1 }}</p>
              {% if shipping_address2 %}
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/18px Helvetica;margin:0;text-align:left">{{ shipping_address2 }}</p>
              {% endif %}
              <p class="order-item-text" style="color:#4f4f4f;font:400 16px/18px Helvetica;margin:0;text-align:left">{{ shipping_city }}, {{ shipping_state }}, {{ shipping_zip }}, {{shipping_country }}</p>
              <p style="margin:0"></p>
            </div>
          </div>
        </div>
        <a class="order-track-btn" href="https://vibe.us/order/status-search/?email={{email}}&order_id={{order_id}}&zip_code={{shipping_zip}}" target="_blank" rel="noreferrer" style="background-color:#000;border-radius:30px;color:#fff;cursor:pointer;display:block;font:700 17px/24px Helvetica;height:48px;line-height:48px;margin-top:40px;padding:0 8px;text-decoration:unset;width:271px">Track My Order</a>
      </div>
    </div>
    <div class="table-container note" style="background-color:#e9f0fc;display:block;padding:56px 48px;">
      <div class="table-wrapper" style="background-color:#fff;border-radius:15px;display:table-cell;padding:34px 29px 34px 37px;text-align:center;vertical-align:middle">
        <div class="table-cell left" style="display:inline-block;vertical-align:top;width:17px"><img class="tips-icon" width="17" height="17" src="https://vibe.us/img/tracking/tips.png" style="margin-top:3px"></div>
        <div class="table-cell right note-font" style="color:#000;display:inline-block;font:400 12px/17px 'Fira Sans';margin-left:20px;text-align:left;vertical-align:middle;width:495px">Please be advised that your order may be shipped in multiple packages or boxes and arriving at different times. We will promptly notify you via email once it's dispatched.<br><br>In the event of any damages during delivery, please photograph both the boxes and the products. Contact us so we can take care of it.</div>
      </div>
    </div>
    <div class="section looking" style="padding:56px 48px">
      <div class="section-title mgb-54" style="font:700 32px/37px Helvetica;margin-bottom:54px;text-align:center">
        <p style="margin:0">Looking to ignite your Vibe?</p>
        <p style="margin:0">Here’s how to:</p>
      </div>
      <div class="table-container" style="display:table;width:100%">
        <div class="table-wrapper" style="display:table-cell;text-align:center;vertical-align:middle">
          <div class="table-cell looking-item left" style="display:inline-block;font:400 14px/21px Helvetica;margin-right:40px;text-align:left;vertical-align:middle;width:275px">
            <a href="https://vibe.us/apps/vibe-one/" target="_blank" rel="noreferrer"><img class="tips-icon" width="277" height="180" src="https://vibe.us/img/tracking/vibe-one-app.png" style="background-color:#f3f3f3"></a>
            <p class="title" style="font:700 20px/28px Helvetica;margin:0;margin-bottom:8px;margin-top:20px">VibeOne App</p>
            <p style="margin:0;font:400 14px/21px Helvetica;">Vibe One, the device management service, is designed to control, interact with, and manage your Vibe Board, all in one place.</p>
          </div>
          <div class="table-cell looking-item right" style="display:inline-block;font:400 14px/21px Helvetica;text-align:left;vertical-align:middle;width:275px">
            <a href="https://vibe.us/onboarding/" target="_blank" rel="noreferrer"><img class="tips-icon" width="277" height="180" src="https://vibe.us/img/tracking/onboarding-tutorial.png" style="background-color:#f3f3f3"></a>
            <p class="title" style="font:700 20px/28px Helvetica;margin:0;margin-bottom:8px;margin-top:20px">Onboarding tutorial</p>
            <p style="margin:0;font:400 14px/21px Helvetica;">Work with all the smart whiteboarding features, facilitating expansive and dynamic collaboration.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section support" style="background-color:#e9f0fc;padding:56px 48px">
      <div class="section-title mgb-27" style="font:700 32px/37px Helvetica;margin-bottom:27px;text-align:center">We are always here for you</div>
      <p class="section-body mgb-48 width-532" style="font:400 18px/23px Helvetica;margin:0;margin-bottom:48px;text-align:center;width:532px">At Vibe, we deeply understand the significance of exceptional service for our valued customers. Count on us to ensure all your inquiries receive assistance in time.</p>
      <div class="table-container" style="display:table;width:100%">
        <div class="table-wrapper" style="display:table-cell;text-align:center;vertical-align:middle">
          <div class="table-cell support-item mgr-25" style="display:inline-block;margin-right:15px;vertical-align:middle"><img class="tips-icon" width="66" height="66" src="https://vibe.us/img/tracking/support-1.png"></div>
          <div class="table-cell support-item" style="display:inline-block;vertical-align:middle"><img class="tips-icon" width="66" height="66" src="https://vibe.us/img/tracking/support-2.png"></div>
          <div class="table-cell support-item mgl-25" style="display:inline-block;margin-left:15px;vertical-align:middle"><img class="tips-icon" width="66" height="66" src="https://vibe.us/img/tracking/support-3.png"></div>
        </div>
      </div>
      <p class="mgt-14" style="margin:0;margin-top:14px;font:400 18px/23px Helvetica;">Email <a class="support-email" href="mailto:support@vibe.us">support@vibe.us</a> for help</p>
    </div>
    <div class="table-container footer" style="background:#111;display:table;height:207px;width:100%">
      <div class="table-wrapper" style="display:table-cell;text-align:center;vertical-align:middle">
        <div class="table-cell" style="display:inline-block;vertical-align:middle">
          <div class="footer_icon" style="margin-bottom:16px"><a class="footer_icon_link" href="https://www.facebook.com/thevibeus" style="color:unset"><img class="footer_icon_inner" src="https://vibe.us/img/tracking/facebook.png" style="height:24px;margin-right:32px;width:24px"> </a><a class="footer_icon_link" href="https://www.linkedin.com/company/vibe-inc/about/" style="color:unset"><img class="footer_icon_inner" src="https://vibe.us/img/tracking/linkedin.png" style="height:24px;margin-right:32px;width:24px"> </a><a class="footer_icon_link" href="https://twitter.com/thevibeboard" style="color:unset"><img class="footer_icon_inner" src="https://vibe.us/img/tracking/twitter.png" style="height:24px;margin-right:32px;width:24px"> </a><a class="footer_icon_link" href="https://www.instagram.com/the.vibe.board/" style="color:unset"><img class="footer_icon_inner" src="https://vibe.us/img/tracking/ins.png" style="height:24px;margin-right:32px;width:24px"></a></div>
          <div class="footer_text" style="color:#fff;font-size:12px;font-style:normal;font-weight:400;line-height:16px;margin-bottom:16px;text-align:center">Vibe Inc, 10400 NE 4th ST, STE 500, Bellevue, Washington 98004, USA</div>
          <div class="footer_text" style="color:#fff;font-size:12px;font-style:normal;font-weight:400;line-height:16px;margin-bottom:16px;text-align:center">© Vibe vibe.us</div>
        </div>
      </div>
    </div>
  </div>
</center>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
{% endblock %}
